/matrix/*
!matrix/.gitkeep 

/decompostion_results/*
!decompostion_results/.gitkeep 

/__pycache__/
/.ipynb_checkpoints/
interpreter_help.ipynb

/benchmark.py.lprof
/openmpi-1.10.3/*

/build/*
/dist/*
/Extreme_SVD_Projet_Option.egg-info/*
/tests/*


